:root {
  --color-primary: ;
  --border-radius: 4px;
  --font-family: sans-serif;
  --font-secondary: "Roboto Slab", sans-serif;
}

html {
  font-family: var(--font-primary);
}

.card {
  max-width: 24em;
  border: 3px solid red;
  border-radius: 4px;
}

.card-title {
  color: var(--color-primary);
  font-family: var(--font-secondary);
}

.btn {
  background-color: var(--color-primary);
  border-radius: var(--color-primary);
  border-color: var(--color-primary);
  font-family: var(--font-secondary);
}
